<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-2 line">

      </div>
      <div class="col-xs-10">

      </div>
    </div>
  </div>
</div>
