// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row-xs-flex-center {
  display:flex;
  align-items:center;
}
@media ( min-width:768px ) {
  .row-sm-flex-center {
    display:flex;
    align-items:center;
  }
}
@media ( min-width: 992px ) {
  .row-md-flex-center {
    display:flex;
    align-items:center;
  }
}
@media ( min-width: 1200px ) {
  .row-lg-flex-center {
    display:flex;
    align-items:center;
  }
}

.site-name {
  font-weight: 200;
}

.login-panel {
  margin-top: 20%;
  background: rgba(255, 255, 255, 0.90) !important;
}